<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giuakyandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiuaKyAndroid">
        <activity
            android:name="donhang.SuaDonHangActivity"
            android:exported="false" />
        <activity
            android:name="xuatpdf.XuatPDFActivity"
            android:exported="false" />
        <activity
            android:name="batdau.TrangChuActivity"
            android:exported="false" />
        <activity
            android:name="thongke.ThongKeActivity"
            android:exported="false" />
        <activity
            android:name="donhang.ChonMatHangActivity"
            android:exported="false" />
        <activity
            android:name="sanpham.SuaThongTinSanPhamActivity"
            android:exported="false" />
        <activity
            android:name="donhang.ThongTinDonHangActivity"
            android:exported="false" />
        <activity
            android:name="donhang.DonHangActivity"
            android:exported="false" />
        <activity
            android:name="donhang.ThemDonHangActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="sanpham.ThemSanPhamActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="sanpham.ThongTinSanPhamActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="khachhang.ActivityThemKhachHang"
            android:exported="false" />
        <activity
            android:name="khachhang.KhachHangActivity"
            android:exported="false" />
        <activity
            android:name="sanpham.SanPhamActivity"
            android:exported="false" />
        <activity
            android:name="batdau.BatDauActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="sendmail.SendMailSchedule"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>