<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giuakyandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiuaKyAndroid">
        <activity
            android:name="donhang.DonHangActivity"
            android:exported="false" />
        <activity
            android:name="donhang.ThemDonHangActivity"
            android:exported="false" />
        <activity
            android:name="sanpham.ThemSanPhamActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="sanpham.ThongTinSanPhamActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="khachhang.ActivityThemKhachHang"
            android:exported="false" />
        <activity
            android:name="khachhang.KhachHangActivity"
            android:exported="false" />
        <activity
            android:name="donhang.Test"
            android:exported="false" />
        <activity
            android:name="sanpham.SanPhamActivity"
            android:exported="false" />
        <activity
            android:name="sanpham.MenuActivity"
            android:exported="false" />
        <activity
            android:name="sanpham.BatDauActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>